<div id="content_left">
  <h1>
    THE MOST PRACTICAL PROFESSIONAL TRAINING IN NEW YORK
  </h1>

  <p>
    Whatever your needs, group or corporate, NYIM provides you with the most practical and efficient hands-on computer
    training in New York City since 1998.
  </p>

  <p>
    Conveniently located on Union Square, our staff are experienced professionals with 10+ years of training experience
    in their field. Each of our instructors are expert, patient, fun and practical. We teach you exactly what you need
    to learn so that you can use your skills in real-life applications.
  </p>

  <p>
    Both Group Classes and Corporate Training are available on-site or off-site.
  </p>

  <h2>Our Specialties</h2>

  <p>
    Excel, PowerPoint, Quickbooks, Photoshop, InDesign, Dreamweaver, Flash, Word, Excel for the Financial Industry, and
    Photoshop &amp; Illustrator for the Fashion Industry.
  </p>

  <p>
    Select your program in the menu above to view class times, pricing and outlines. Feel free to call 212.658.1918 or
    email today to speak to our Client Manager, Faye.
  </p>
</div>
<div id="content_right">
  <table width="100%" border="0" id="programs">
    <tr>
      <td>
        <h2>Business Track </h2>

        <p>
          Microsoft Office
        </p>
      </td>
      <td>
        <h2>Design Track </h2>

        <p>
          Adobe Creative Suite
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <%= class_link('Excel') %>
      </td>
      <td>
        <%= class_link('Photoshop') %>
      </td>
    </tr>
    <tr>
      <td>
        <%= class_link('PowerPoint') %>
      </td>
      <td>
        <%= class_link('Dreamweaver') %>
      </td>
    </tr>
    <tr>
      <td>
        <%= class_link('Word') %>
      </td>
      <td>
        <%= class_link('Illustrator') %>
      </td>
    </tr>
    <tr>
      <td>
        <%= class_link('Access') %>
      </td>
      <td>
        <%= class_link('InDesign') %>
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <%= class_link('Flash') %>
      </td>
    </tr>
    <tr>
      <td>
        <h2>Specialty</h2>
      </td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>
        <%= class_link('SPSS') %>
      </td>
      <td>
        <%= class_link('QuickBooks') %>
      </td>
    </tr>
    <tr>
      <td>
        <%= class_link('FileMaker') %>
      </td>
      <td>
        <%= class_link('Project') %>
      </td>
    </tr>
  </table>
</div>